* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: none;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s;
}

header {
    background-color: #ffffff; 
    padding: 16px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Altera para 100% */
    margin: 0;
    padding: 4px;
    box-sizing: border-box; /* Garante que o padding seja incluído na largura total */
}


.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-right: 20px;
}

.menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #ff0000;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(0); }
}

.actions {
    display: flex;
    align-items: center;
}

.login-area {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.login-area a {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.login-area a:hover {
    background-color: #b30000;
}

#usuario-logado {
    color: #fff;
    font-weight: bold;
    margin-left: 15px;
}

.container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 100px auto 80px auto; /* Ajustado para compensar o header fixo */
}

h1 {
    color: #ff0000;
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    
}



input, select {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #000000;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b30000;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #ff0000;
}


/* Tema escuro */
body.dark-mode {
    background-color: #222020;
    color: rgb(255, 255, 255);
}

body.dark-mode .container,.card {
    background-color: #333;
    color: #ffffff;
    border: none;
}
body.dark-mode .card{
    background-color: #333;
    color: #ffffff; 
    border: none;
}
body.dark-mode .menu{
    background-color: #222222;
}
body.dark-mode .cima{
    background: #222222;
}
body.dark-mode .letramenu{
    color: #fff;
}



/* Tema claro */
body.light-mode {
    background-color: #eeeeee;
    
}

body.light-mode .container,.card {
    background-color: #dbdbdb;
    color: #000000; 
    border: none;
}

body.light-mode .card{
    background-color: #dbdbdb; 
    border: none;
}


body.light-mode .label{
    background-color: #000000;
}
body.light-mode .menu{
    background-color: #ffffff;
}

/* Estilo do botão de alternância de tema */
.theme-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-switch {
    display: none;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.toggle-slider {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.icon-sun, .icon-moon {
    position: absolute;
    font-size: 20px;
}

.icon-sun {
    left: 5px;
}

.icon-moon {
    right: 5px;
    display: none;
}

.toggle-switch:checked + .toggle-label {
    background-color: #4d4d4d;
}

.toggle-switch:checked + .toggle-label .toggle-slider {
    transform: translateX(30px);
}

.toggle-switch:checked + .toggle-label .icon-sun {
    display: none;
}

.toggle-switch:checked + .toggle-label .icon-moon {
    display: block;
}

@media screen and (max-width: 610px) {
    body{
        font-family: Arial, sans-serif;
        background-image: none;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 30px;
    }
    .container{
        display: block;
        width: 300px;
    }
    #form-carro .selecao {
        display: block;
        font-size: 15px;
        margin-left: 40px;
    }
    label {
        margin-left: 30px;
    }
    .selecao{
        width: 180px;
    }
    button {
        margin-left: 7vw;
        width: 210px;
    }
    .theme-toggle{
        position: relative;
    }
    a{
        position: relative;
    }
    a .botaoLogin{
        margin-left: 1000px;        
    }
}
