body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #141414; /* Cor de fundo padrão (modo escuro) */
    color: rgb(255, 255, 255); 
    transition: background-color 0.5s;
}

.telaLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #333; 
    padding: 20px;
    border-radius: 50px;
    width: 300px;
    height: 520px;
    position: relative; 
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #ff0000;
    text-align: center;
}

#titulo {
    font-size: 40px;
}

.conteudo label {
    
    font-size: 12px;
    opacity: 0.8;
    margin-left: 40px;
}

.conteudo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
}

.inputs {
    margin-left: 40px;
    width: 200px;
    height: 35px;
    margin-top: 10px;
    padding: 0 5px;
    background-color: rgb(39, 37, 37);
    border: none;
    border-bottom: 1px solid #dbcdb7;
    outline: none;
    display: block;
    font-size: 14px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#enviar {
    font-size: 14px;
    width: 40%;
    height: 30px;
    background-color: #ff0000;
   
    color: #e1e1e1;
    border-radius: 10px;
    margin: 15px 0;
    box-shadow: 0px 8px 10px rgb(0, 0, 0);
}

#enviar:hover {
    background-color: #b30000;
}

.rodape a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
}


.voltarHome {
    color: white;
    text-decoration: none; 
    font-size: 14px;   
}
.voltarHome:hover{
    background-color: #b30000;
}

.homePage {
    text-align: center;
    width: 50px;
    background-color: #ff0000;
    border-radius: 10px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}
.homePage:hover{
    background-color: #b30000;
}

input#email{
    border-radius: 5px;
}
input#senha{
    border-radius: 5px;
}
form{
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 10px 8px #0e0d0d;
    border-radius: 100px;
}
.modoTema {
    position: absolute; 
    top: 20px; 
    right: 20px; 
}

.themeBtn {
    background: none; 
    border: none; 
    font-size: 24px; 
    cursor: pointer; 
    color: #ff0000; /
}

.themeBtn:focus {
    outline: none; 
}

/* Modo Claro */
body.light-mode {
    background-color: #f0f0f0; 
}


body.light-mode .card {
    background-color: #dbdbdb; 
    color: #000000; 
}
body.light-mode .conteudo label{
    color: #000000;
}
body.light-mode .inputs {
    background-color: #fff; 
    color: #333; 
    border-bottom: 1px solid #333; 
}
body.dark-mode .card{
    background-color: #333;
    
}
