* {
    font-family: Arial, Helvetica, sans-serif;
}

body {   
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-color: #141414; /* Cor de fundo escura padrão */
    transition: background-color 0.5s; /* Transição suave ao mudar o fundo */
}
body.light {
    background-color: #f0f0f0; /* Cor de fundo para tema claro */
}

.topoPag {
    text-align: center;
}

.iconeTopo {
    size-adjust: 40%;
}

.txtTopo {
    font-size: 20px;
    color: white;
}

.voltarLogin {
    text-decoration: dotted;
    font-weight: bold;
    color: #ffb84d;
}

/* Comando site */
.telaCadastro {
    display: flex;
    align-items: fit-content;
    justify-content: center;
    height: 100vh;
}

.card {
    background-color: #333;
    padding: 20px;
    border-radius: 50px;
    width: 650px;
    height: 850px;
    position: relative; /* Permite posicionar o botão dentro da card */
}

.card-header {
    padding-bottom: 0px;
    opacity: 0.8;
    color: #fff;
    text-align: center;
}

#titulo {
    font-size: 40px;
}

.conteudo label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
}

.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "nome endereco"
        "cpf bairro"
        "email cidade"
        "celular1 login"
        "celular2 senha"
        "data_de_nascimento confirmaSenha"
        "nomeMae sexo"
        "cep .";
    margin-left: 60px;
    padding: 20px 0;
    margin-top: 0px;
}

.inputs {
    width: 200px;
    height: 35px;
    margin-top: 10px;
    padding: 0 5px;
    background-color: rgb(39, 37, 37);
    border: none;
    border-bottom: 1px solid #dbcdb7;
    outline: none;
    font-size: 14px;
    display: flex;
    color: white;
}

button {
    box-sizing: border-box;
    border-radius: 5px;
    left: 430px;
}

.inputs::placeholder {
    text-transform: none;
}

.inputs#nome {
    text-transform: capitalize;
}

.inputs#nomeMae {
    text-transform: capitalize;
}

.rodape {
    display: flex;
    flex-direction: column;
}

#enviar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 170px;
    width: 300px;
    height: 40px;
    background-color: transparent;
    border: solid 1px #ffb84d;
    color: #e1e1e1;
    text-align: center;
    cursor: pointer;
    position: static;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

#enviar:hover {
    background-color: #ffb84d;
}

.limpar {
    margin-top: 30px;
    width: 210px;
    height: 35px;
    background-color: transparent;
    border: solid 1px #ffb84d;
    color: #e1e1e1;
    text-align: center;
    cursor: pointer;
    position: sticky;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
}

.limpar:hover {
    background-color: #ffb84d;
}

.sexos {
    margin-bottom: 10px;
    width: 200px;
    height: 35px;
    margin-top: 10px;
    padding: 0 5px;
    background-color: rgb(226, 220, 220);
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    display: flex;
    margin-left: 15px;
}

#sexos:focus {
    background-color: #ffb84d;
}

/* Comando site */
.voltarHome {
    color: white;
    text-decoration: none; 
    font-size: 14px;   
}

.homePage {
    text-align: center;
    width: 50px;
    height: 20px;
    background-color: #ffb84d;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

input {
    border-radius: 5px;
    margin: 9px;
}

select {
    margin-top: 8px;
}

form {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    box-shadow: 0px 10px 8px #0e0d0d;
    border-radius: 100px;
}

.estadoSP {
    display: none;
}

.estadoRJ {
    display: none;
}

.span-required {
    font-size: 12px;
    margin: 3px 0 0 1px;
    color: red;
    display: none;
    margin-left: 10px;
    margin-top: -8px;
    text-align: justify;
    justify-content: right;
    position: absolute;
}

#toggleTheme {
    margin-left: 600px;
    top: 20px; /* Posição vertical do botão dentro da card */
    right: 20px; /* Posição horizontal do botão dentro da card */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Para garantir que o botão fique acima de outros elementos */
}

@media screen and (max-width: 768px) {
    .conteudo {
        display: block;
        margin-left: 40px;
    }
    .card {
        display: block;
        width: 300px;
        height: 1500px;
    }
    .rodape {
        display: block;
        align-items: center;
    }
    #enviar {
        display: flex;   
        align-items: flex-start;
        margin: 0 0 0 0;
        padding: 0; 
        margin-right: 13vw;
    }
    #toggleTheme{
        margin-left: 260px;

    }
}
